@import url("./base.css");

.friend-finder-base {
    margin-top: 75px;
    height: 85vh;
    border-radius: 10px;
}

.friend-finder-main {
    transform: translate(-50%, -50%);
}

.friend-finder-main h3 {
    font-size: 25px;
}

.card-img-circled {
    border-radius: 50%;
    margin: 20px auto;
    width: 200px;
    aspect-ratio: 1/1;
}

.card {
    background-image: linear-gradient(135deg, var(--transparent-primary), var(--transparent-secondary));
}

.btn {
    border-radius: 50px;
    outline: none;
}

.btn:hover {
    border-color: transparent;
}