.postComment{
    background-color: var(--grey-light);
}

.comments{
    flex: 1;
    height: 260px;
    overflow-y: scroll;
    /* background: lightgreen; */
}

.textPost{
    flex: 1;
    height: 300px;
    overflow-y: scroll;
}

::-webkit-scrollbar{
    display : none;
}