@import url("./base.css");

:root {
    --navbar-height: 3.5rem;
}

nav {
    height: var(--navbar-height);
}

.logonav {
    font-family: "Meow Script", "Times New Roman", Calibri;
    color: var(--primary);
    font-size: 40px;
}
.nav_img{
    height: 25px;
}
.notify{
    background-color: grey;
    color: white;
    border-radius: 25px;
}

.searchbox{
    border-radius: 0px;
    height:5%;
}

.search{
    border-radius: 0;
    border-color: grey;
}

.searchResult{
    left:30%;
    top:55px;
    background: white !important ;
    z-index:100;
    width:17%;
    max-height: 500px;
    overflow-y: scroll;
    flex: 1;
    opacity:1;
}

.searchResult::-webkit-scrollbar {
    display: none;
}

.searchrow:hover{
    background-color: var(--grey-light);
    height: 40px;
}