.profilepic{
    width:13%;
    height:110%;
    margin-top: -2%;
}
.it{
    width:6%;
    height:60%;
}
.username{
    color:var(--unchangable);
}

.name{
    color: black;
}

.bg{
    background-color: var(--grey-light);
    width:90%;
    height:70%;
    border-radius: 10px;
    margin-top: 2%;
    position:absolute;
    z-index: -3;
}
.main1{
    /* margin-top:-33.6%; */
}
.info{
    background-color:var(--grey-dark-bg) ;
    width:70%;
    border-radius: 30px;
}
.bold_{
    font-size: larger;
    font-weight: 3000;
}
.i{
    width:3%;
    height:40%;
}
.aci{
    width: 3.3%;
    height:37%;
    /* margin-top:-4%; */
}
.access{
    margin-top: -4.8%;
}